<ion-content>
  <div class="profile__head">
    <img *ngIf="image_gender == 1" class="img-bg img-gender" src="../../../assets/images/MUJER-PERFIL-APPREVENIR.svg" alt="test image">
    <img *ngIf="image_gender == 2" class="img-bg img-gender" src="../../../assets/images/HOMBRE-PERFIL-APPREVENIR.svg" alt="test image">
    <div class="profile__title">{{ profile.first_names }}</div>
    <div class="profile__profile-title">{{ profile.last_names }}</div>
  </div>
  <div class="content">
    <div class="template-content">
      <div class="profile__tab-content">
        <div class="profile__tab" [ngClass]="{'active': tab == 'data'}" (click)="toggletab('data')">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Mis datos</ion-label>
        </div>
        <div class="profile__tab" [ngClass]="{'active': tab == 'test'}" (click)="toggletab('test')">
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-label>Mis test</ion-label>
        </div>
      </div>
      <div class="stepper-top">
        <div *ngIf="tab == 'data'">
          <mat-horizontal-stepper linear #stepper >
            <mat-step [stepControl]="firstFormGroup">
              <form class="register-form" [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Información personal</ng-template>
                <p class="register-form__label">Información personal</p>
                <div class="register-form__input">
                  <input type="text" placeholder="Nombre(s)" formControlName="first_names" required>
                </div>
                <div class="register-form__input">
                  <input type="text" placeholder="Primer Apellido"  formControlName="last_name_one" required>
                </div>
                <div class="register-form__input">
                  <input type="text" placeholder="Segundo Apellido"  formControlName="first_name_two" required>
                </div>
                <div class="register-form__input">
                  <input type="date" placeholder="Fecha de nacimiento"  formControlName="birthday" required>
                </div>
                <div class="register-form__input">
                  <p class="register-form__label-small">Género</p>
                  <mat-radio-group formControlName="gender_id" required>
                    <mat-radio-button [value]="gender.value" *ngFor="let gender of genders">{{ gender.gender }}</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="register-form__input">
                  <select formControlName="civil_status_id" required>
                    <option value="">Estado civil</option>
                    <option [value]="civil_status.value" *ngFor="let civil_status of civil_statuses">{{ civil_status.status }}</option>
                  </select>
                </div>
                <div class="register-form__input">
                  <select formControlName="education_level_id" required>
                    <option value="">Nivel de Estudios</option>
                    <option [value]="education.value" *ngFor="let education of educations">{{ education.education }}</option>
                  </select>
                </div>
                <div class="register-form__content-btns">
                  <a [routerLink]="['/home']"><button class="register-form__btn back" mat-button>Atras</button></a>
                  <button class="register-form__btn next" mat-button matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form class="register-form" [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Ubicación</ng-template>
                <p class="register-form__label">Ubicación</p>
                <div class="register-form__input">
                  <select formControlName="country_id" required #country (change)="getStates(country.value)">
                    <option value="">País</option>
                    <option value="{{country.id}}" *ngFor="let country of countries">{{country.name}}</option>
                  </select>
                </div>
                <div class="register-form__input">
                  <select formControlName="state_id" required #state (change)="getCities(state.value)">
                    <option value="" selected>Departamento</option>
                    <option value="{{state.id}}" *ngFor="let state of states">{{state.name}}</option>
                  </select>
                </div>
                <div class="register-form__input">
                  <select formControlName="city_id" required>
                    <option value="" selected>ciudad</option>
                    <option value="{{city.id}}" *ngFor="let city of cities">{{city.name}}</option>
                  </select>
                </div>
                <div class="register-form__content-btns">
                  <button class="register-form__btn back" mat-button matStepperPrevious>Atras</button>
                  <button class="register-form__btn next" mat-button matStepperNext>Siguente</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <form class="register-form" [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
                <ng-template matStepLabel>Contacto</ng-template>
                <p class="register-form__label">Contacto</p>
                <div class="register-form__input">
                  <input type="phone" placeholder="Número de celular" formControlName="phone" required>
                </div>
                <div class="register-form__input">
                  <input type="email" placeholder="Correo electrónico" formControlName="email" disabled>
                </div>
                <div class="register-form__input">
                  <input type="password" placeholder="Contraseña" formControlName="password" required>
                </div>
                <div class="register-form__input">
                  <input type="password" placeholder="Repetir contraseña" formControlName="password_confirmation" required>
                </div>
                <div class="register-form__content-btns">
                  <button class="register-form__btn back" mat-button matStepperPrevious>Atras</button>
                  <button class="register-form__btn next" mat-button type="submit">Actualizar</button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
        <div *ngIf="tab == 'test'">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Test">
              <th mat-header-cell *matHeaderCellDef>Test </th>
              <td mat-cell *matCellDef="let element">{{ element.testName }}</td>
            </ng-container>
            <ng-container matColumnDef="Fecha">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let element">{{ element.date }}</td>
            </ng-container>
            <ng-container matColumnDef="Nivel">
              <th mat-header-cell *matHeaderCellDef>Nivel</th>
              <td mat-cell *matCellDef="let element"><span [ngStyle]=setStyle(element.resultLevel)>{{ element.resultLevel }}</span></td>
            </ng-container>
            <ng-container matColumnDef="Respuestas">
              <th mat-header-cell *matHeaderCellDef>Respuestas</th>
              <td mat-cell *matCellDef="let element"><ion-icon name="help-circle-outline" class="test-icon" (click)="openModal(element)"></ion-icon></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>