.modal-test {

    &__btn {
        width: 70%;
        height: 40px;  
    }
    
    &__btn.test {
        background: #009E9E 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px #00D1D14D;
        border-radius: 22px;
        color: #fff;
        margin-top: 4px;
        font-family: 'KanitMedium';
    }

    &__form {
        text-align: center;

        form, button {
            margin-top: 40px;
        }
    }
}

.content-start {
    text-align: center;
    margin-top: 10vh;
    font-family: 'KanitNormal';

    span {
        font-weight: bold;
    }
}

.presentation {
    margin-top: 0;
    height: auto;
    top: 18%;

    .content-start {
        margin-top: 0px;
    }

    .modal-test {

        &__text {
            margin-top: 0px;
            height: auto;

            img {
                width: 125px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

select {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4A657080;
    border-radius: 8px;
    opacity: 1;
}
