<div class="modal-terms__content">
  <div class="modal-test__head">
    <img src="../../../assets/images/apprevenir-test.png" alt="test image">
    <div class="modal-test__bg"></div>
    <div class="modal-test__title">test</div>
    <div class="modal-test__test-title">{{ contents.name }}</div>
  </div>
  <div class="modal-terms__text modal-test__text">
    <div [innerHTML]="contents.introduction">
    </div>
  </div>
  <div class="modal-terms__btn-acept" (click)="closeModal()">Cerrar</div>
</div>