<div class="modal-terms__content" *ngIf="!start">
  <div class="modal-test__head">
    <img src="{{url}}/images/{{content.image}}" alt="test image">
    <div class="modal-test__bg"></div>
    <div class="modal-test__title">test</div>
    <div class="modal-test__test-title">{{ content.name }}</div>
  </div>
  <div class="modal-terms__text modal-test__text">
    <div>
      <div [innerHTML]="content.introduction" *ngIf="content.id == 2 || content.addictions.length == 0">
      </div>
      <div *ngIf="content.addictions.length > 0 && content.id != 2">
        <div class="modal-test__form">
          <p>{{ content.description }}</p>
          <form [formGroup]="addiction" (ngSubmit)="onSubmit(content.id)">
            <select formControlName="addiction_id" required>
              <option value="">Elige una opción</option>
              <option [value]="addiction.pivot.addiction_id+' '+addiction.name" *ngFor="let addiction of content.addictions">{{ addiction.name }}</option>
            </select>
            <button class="modal-test__btn test" type="submit">Hacer test</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-terms__btn-acept" (click)="closeModal()">Cerrar</div>
</div>
<div class="modal-terms__content presentation" *ngIf="start">
  <div class="content-start" >
    <div class="modal-terms__text modal-test__text">
      <img src="../../../../assets/images/MANO-CORAZON.svg" alt="presentation image">
      <p>
        A continuación, se te harán una serie de preguntas, responde de manera <span>HONESTA</span> así el resultado obtenido será <span>CONFIABLE</span>.
      </p>
      <p>
        Recuerda que tu reporte es <span>COMPLETAMENTE CONFIDENCIAL</span>.
      </p>
    </div>
    <div class="modal-terms__btn-acept" (click)="closeModal()">Aceptar</div>
  </div>
</div>