  .menu {
      &__btn {
        background: #009E9E 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px #00D1D14D;
        border-radius: 22px;
        color: #fff;
        margin-top: 4px;
        width: 70%;
        height: 40px;
      }
  }  
    