<div class="login-content">
  <div class="login-form">
    <div *ngIf="toggle == 'login'">
      <div class="login-form__header">
        <p class="login-form__title">Acceder</p>
        <p class="login-form__subtitle">Ingresa tu usuario y contraseña para obtener acceso a todas las funcionalidades</p>
      </div>
      <div class="login-form__form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="login-form__input">
            <input type="email" placeholder="Email" formControlName="email" required>
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <a class="login-form__forgot-link" [routerLink]="['/password-reset']">¿Olvídaste tu contraseña?</a>
          <div class="login-form__input">
            <input type="password" placeholder="Contraseña" formControlName="password" required>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          <div class="box-checkbox">
            <input type="checkbox" id="test1" />
            <label for="test1">Recuérdame en este dispositivo</label>
          </div>
          <button class="btn btn-primary width-100" type="submit">Acceder</button>
        </form>
      </div>
    </div>
    <div>
      <div class="login-form__register">
        <div class="login-form__register-text">
          <hr class="separate">
          <span>¿No tienes una cuenta?</span>    
          <hr class="separate">
        </div>
        <a [routerLink]="['/register']"><button class="btn btn-secondary width-100" >Crear una cuenta</button></a>
      </div>
      <app-terms></app-terms>
    </div>
  </div>
</div>
