
.box-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 10px;

    input {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  /* hover style just for information */
  label:hover:before {
    border: 2px solid #4778d9!important;
  }


  .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-flex {
    border: 1px solid var(--color-gray-dark-2);
    border-radius: 8px;
    opacity: 1;
    padding: 0 10px;
    padding: 5px 10px;
    align-items: center !important;
    height: 50px;
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-input-element {
    color: var(--color-gray-dark-2) !important;
    font-size: 16px !important;
  }

  .mat-input-element {
    color: var(--color-gray-dark-2) !important;
  }

.mat-form-field-label  {
  color: var(--color-primary) !important;
  background-color: var(--color-white) !important;
  width: auto !important;
  padding: 0 6px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 8px !important;
}

.mat-form-field-underline {
  display: none;
}

 .mat-form-field-appearance-outline .mat-form-field-outline {
  color: red!important;
  // opacity: 1!important;
}

/* default and hover color */
 .mat-form-field-appearance-outline .mat-form-field-outline {
  color: red;
}

/* focused color */
 .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: green;
}

/* floating label color */
 .mat-form-field-appearance-outline.mat-focused .mat-form-field-label { 
  color: green; 
}