.mat-dialog-container {
    border: 1px solid #F5F5F5;
    border-radius: 10px !important;
    padding: 50px !important;
    width: 768px !important;
    height: 650px !important;
    overflow: hidden;

    h3 {
        color: var(--color-normal-grey);
        font-family: 'KanitMedium';
        font-size: 32px;
        margin-bottom: 5rem;
    }

}

.modal-title {
    color: var(--color-normal-grey);
    font-family: 'KanitMedium';
    font-size: 24px;
}

.modal-text {
    color: var(--color-normal-grey);
    font-family: 'FiratRegular';
    font-size: 16px;
}

.modal-box {
    overflow: auto;
    height: 350px;
    margin-bottom: 2rem;
}