<div class="register-form__header">
  <p class="register-form__title">Crear una cuenta</p>
</div>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form class="register-form" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Información personal</ng-template>
      <p class="register-form__label">Información personal</p>
      <div class="register-form__input">
        <input type="text" placeholder="Nombre(s)" formControlName="first_names" required>
      </div>
      <div class="register-form__input">
        <input type="text" placeholder="Primer Apellido" formControlName="last_name_one" required>
      </div>
      <div class="register-form__input">
        <input type="text" placeholder="Segundo Apellido" formControlName="first_name_two" required>
      </div>
      <div class="register-form__input">
        <input type="date" placeholder="Fecha de nacimiento" formControlName="birthday" required>
      </div>
      <div class="register-form__input">
        <p class="register-form__label-small">Género</p>
        <mat-radio-group formControlName="gender_id" required>
          <mat-radio-button [value]="gender.value" *ngFor="let gender of genders">{{ gender.gender }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="register-form__input">
        <select formControlName="civil_status_id" required>
          <option value="">Estado civil</option>
          <option [value]="civil_status.value" *ngFor="let civil_status of civil_statuses">{{ civil_status.status }}</option>
        </select>
      </div>
      <div class="register-form__input">
        <select formControlName="education_level_id" required>
          <option value="">Nivel de Estudios</option>
          <option [value]="education.value" *ngFor="let education of educations">{{ education.education }}</option>
        </select>
      </div>
      <div class="register-form__input">
        <p class="register-form__label-small">Datos referido</p>
        <select formControlName="client_type" required #clientType (change)="getClients(clientType.value)">
          <option value="">Seleccione tipo de referido</option>
          <option [value]="clientType.key" *ngFor="let clientType of clientTypes | keyvalue">{{clientType.value[0]}}</option>
        </select>
      </div>
      <div class="register-form__input">
        <select formControlName="client" *ngIf="clients" #clientSelect (change)="getSelect1(clientSelect.value)">
          <option value="">Seleccione</option>
          <option [value]="i" *ngFor="let client of clients; let i = index">{{client.profile.first_names}}</option>
        </select>
      </div>
      <div *ngIf="clients">
        <div class="register-form__input">
          <select formControlName="selectA" *ngIf="selects1" #clientSelect2 (change)="getSelect2(clientSelect2.value)">
            <option value="">{{ label[0] }}</option>
            <option [value]="i" *ngFor="let select1 of selects1; let i = index">{{select1[values[0][1]]}}</option>
          </select>
        </div>
        <div class="register-form__input">
          <select formControlName="selectB" *ngIf="selects2" #clientSelect3 (change)="getSelect3(clientSelect3.value)">
            <option value="">{{ label[1] }}</option>
            <option [value]="i" *ngFor="let select2 of selects2; let i = index">{{select2[values[1][1]]}}</option>
          </select>
        </div>
        <div class="register-form__input">
          <select formControlName="selectC" *ngIf="selects3">
            <option value="">{{ label[2] }}</option>
            <option [value]="i" *ngFor="let select3 of selects3; let i = index">{{select3[values[2][1]]}}</option>
          </select>
        </div>
      </div>
      <div class="register-form__content-btns">
        <a [routerLink]="['/login']"><button class="register-form__btn back" mat-button>Atras</button></a>
        <button class="register-form__btn next" mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form class="register-form" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Ubicación</ng-template>
      <p class="register-form__label">Ubicación</p>
      <div class="register-form__input">
        <select formControlName="country_id" required #country (change)="getStates(country.value)">
          <option value="">País</option>
          <option value="{{country.id}}" *ngFor="let country of countries">{{country.name}}</option>
        </select>
      </div>
      <div class="register-form__input">
        <select formControlName="state_id" required #state (change)="getCities(state.value)">
          <option value="" selected>Departamento</option>
          <option value="{{state.id}}" *ngFor="let state of states">{{state.name}}</option>
        </select>
      </div>
      <div class="register-form__input">
        <select formControlName="city_id" required>
          <option value="" selected>ciudad</option>
          <option value="{{city.id}}" *ngFor="let city of cities">{{city.name}}</option>
        </select>
      </div>
      <div class="register-form__content-btns">
        <button class="register-form__btn back" mat-button matStepperPrevious>Atras</button>
        <button class="register-form__btn next" mat-button matStepperNext>Siguente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form class="register-form" [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Contacto</ng-template>
      <p class="register-form__label">Contacto</p>
      <div class="register-form__input">
        <input type="phone" placeholder="Número de celular" formControlName="phone" required>
      </div>
      <div class="register-form__input">
        <input type="email" placeholder="Correo electrónico" formControlName="email" required>
      </div>
      <div class="register-form__input">
        <input type="password" placeholder="Contraseña" formControlName="password" required>
      </div>
      <div class="register-form__input">
        <input type="password" placeholder="Repetir contraseña" formControlName="password_confirmation" required>
      </div>
      <div class="register-form__content-btns">
        <button class="register-form__btn back" mat-button matStepperPrevious>Atras</button>
        <button class="register-form__btn next" mat-button type="submit">Registrar</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
