.register-form {

    margin-bottom: 50px;

    &__title, &__label, &__label-small {
        font-size: 26px;
        margin-bottom: 30px;
        color: var(--color-normal-grey);
        font-family: 'KanitMedium';
    }

    &__label {
        font-size: 18px;
        margin-top: 35px;
    }

    &__label-small {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__input{
        margin-bottom: 5px;
        position: relative;
    }

    &__btn {
        height: 44px;  
        min-width: 125px;
    }

    &__content-btns {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    &__btn.next {
        background: #009E9E 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px #00D1D14D;
        border-radius: 22px;
        color: #fff;
        font-family: 'KanitMedium';
    }

    &__btn.back {
        border: 1px solid #CED9D7;
        border-radius: 22px;
        opacity: 1;
        background-color: #fff;
        color: #36484F99;
        margin-right: 25px;
        font-family: 'KanitMedium';
    }
}  

mat-radio-group {

    mat-radio-button:first-child {
        margin-right: 30px;
        margin-left: 15px;
    }
}
