<div class="modal-terms__content">
	<div class="modal-terms__title">
		Consentimiento Informado
	</div>
	<div class="modal-terms__text">
		<div>
			<span class="modal-terms__title">Título de la Investigación</span><br><br>
			<p>Sistema digital para la prevención de las adicciones. Apprevenir</p>
			<span class="modal-terms__title">Propósito del Estudio</span><br><br>
			<p>El ecosistema digital permite la realización de pruebas de tamizaje para la detección temprana del riesgo
				frente al uso de sustancias psicoactivas o comportamientos adictivos.</p>
			<span class="modal-terms__title">Naturaleza del estudio</span><br><br>
			<p>Apprevenir es una estrategia preventiva de seguimiento, que está enfocada en las alertas tempranas y nos
				permite contribuir a los análisis de salud mental, no sólo en el campo universitario, sino a través de alianzas
				con otras organizaciones, con el fin de desarrollar propuestas preventivas en contexto.</p>
			<span class="modal-terms__title">Duración del estudio</span><br><br>
			<p>Apprevenir es un proyecto que se renueva cada año. La información recolectada es guardada por períodos anuales
				según el protocolo de la política de tratamiento de datos institucional y en el caso de la información con
				organizaciones aliadas, corresponde al período de acompañamiento que se establezca.</p>
			<span class="modal-terms__title">Investigadores</span><br><br>

			<ul>
				<li>
					PhD(C). Sandra Milena Restrepo Escobar
				</li>
				<li>
					PhD. Edwin Andrés Sepúlveda Cardona
				</li>
			</ul>

			<span class="modal-terms__title">Financiador</span><br><br>
			<p>Universidad Católica Luis Amigó</p>
			<span class="modal-terms__title">Datos de Contacto</span><br><br>
			<ul>
				<li><a href="mailto:contacto.apprevenir@amigo.edu.co">contacto.apprevenir@amigo.edu.co</a></li>
				<li><a href="tel:604 460 2263">+57 604 460 2263</a></li>
			</ul>
			<span class="modal-terms__title">Lugar</span>
			<p>Medellín - Antioquia - Colombia</p>
			<span class="modal-terms__title">Introducción</span>
			<p>Apprevenir, un ecosistema digital de Atención Primaria en Salud que ofrece servicios de eSalud para la
				prevención de adicciones en organizaciones privadas, en entidades estatales, municipios, gobernaciones, y en
				instituciones educativas, colegios y universidades del país; basados en analítica de datos y data scientist y
				apoyados en estrategias de comunicación y publicidad digital.

				Apoyados en nuestro ecosistema digital ofrecemos Atención Primaria en Salud (APS) para detección de consumo de
				Sustancias Psicoactivas (SPA) y adicciones no químicas (ANQ); enfocados al tamizaje, triaje e intervención
				breve, desde la prevención selectiva e indicada para la remisión de públicos en riesgo de adicción.</p>
			<span class="modal-terms__title">Participantes de la investigación</span>
			<p>Población perteneciente a las diferentes organizaciones con las que se realice alianzas.</p>
			<span class="modal-terms__title">Criterios de selección de los participantes</span>
			<p>Las personas seleccionadas pertenecen a las organizaciones que hacen parte de las alianzas, que de manera
				voluntaria acceden a realizar las pruebas de tamizaje previamente seleccionadas.</p>
			<span class="modal-terms__title">Procedimientos</span>
			<ol>
				<li>La persona debe registrarse en el sitio web, ofreciendo sus datos personales que se utilizarán
					exclusivamente para el análisis de la información y que se garantiza el anonimato.</li>
				<li>Posterior al registro la persona procederá a realizar las pruebas de tamizaje seleccionadas, con los
					resultados se desarrollarán acciones en el marco de la prevención, en modalidad individual o grupal.</li>
			</ol>
			<span class="modal-terms__title">Riesgos</span>
			<p>Este proceso investigativo se cumple con los requisitos exigidos en la Resolución No 008430 de 1993 expedida
				por el Ministerio de Salud de Colombia, en relación a los estudios clasificados como “Investigación con riesgo
				mínimo”. Se protegen en todo momento los principios éticos fundamentales de beneficencia, no maleficencia,
				respeto y justicia.</p>
			<span class="modal-terms__title">Beneficios</span>
			<p>La información recopilada mediante Apprevenir permite la realización de campañas e intervenciones en el marco
				de la prevención de las adicciones.</p>
			<span class="modal-terms__title">Privacidad y confidencialidad</span>
			<p>La identidad será protegida y se utilizarán identificadores alfanuméricos para proteger la confidencialidad de
				la información. Toda información o datos que pueda identificarle serán manejados confidencialmente según la ley
				de Habeas data. Para esto se tomarán las siguientes medidas de seguridad: la información recopilada será
				codificada. Los resultados de esta investigación pueden ser publicados en revistas científicas o ser presentados
				en las reuniones científicas, pero la identidad de los participantes no será divulgada. </p>
			<span class="modal-terms__title">Derecho a retirarse del estudio de investigación</span>
			<p>El estudio es completamente voluntario. Usted puede abandonar el estudio en cualquier momento sin ser
				penalizado ni perder los beneficios.</p>
			<span class="modal-terms__title"><strong>Proceso de retiro</strong></span>
			<p>La persona que quiera que su información sea borrada, debe enviar un correo a <a
					href="mailto:contacto.apprevenir@amigo.edu.co">contacto.apprevenir@amigo.edu.co</a> manifestando su intención
				de ser retirado y de inmediato se procede a eliminar la información y enviar un correo sobre el procedimiento
				ejecutado, esto siguiendo las pautas de la política de tratamiento de datos institucional.</p>
			<div class="modal-terms__btn-acept" (click)="closeModal()">Aceptar</div>
		</div>
	</div>
</div>