<ion-header [translucent]="true">
  <ion-toolbar class="bg-header" *ngIf="!search">
    <div class="home-logo">
      <img src="../../../assets/images/apprevenir-logo-2.png" alt="logo-app">
    </div>
    <ion-icon name="search-outline" class="search-icon" (click)="toggleSearch()"></ion-icon>
  </ion-toolbar>
  <ion-toolbar class="bg-header" *ngIf="search">
    <form [formGroup]="SearchForm">
      <input type="text" placeholder="Buscar" formControlName="search" (keyup)="arrayFilter()">
      <ion-icon name="close-circle-outline" class="search-icon" (click)="toggleSearch()"></ion-icon>
    </form>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="test__content">
    <div class="test__label">
      Por favor elije un test
    </div>
    <div class="test__list">
      <div class="test__card" *ngFor="let test of tests">
        <div class="test__card-head">
          <ion-icon name="help-circle-outline" class="test__card-help" (click)="openModal(test)"></ion-icon>
          <div class="test__card-category">
            <span *ngFor="let category of test.categories"> {{ category.name }} </span>
          </div>
          <div class="test__card-title">
            {{ test.name }}
          </div>
        </div>
        <div class="test__card-image">
          <img *ngIf="test.image == ''" src="../../../assets/images/apprevenir-test.png" alt="test image">
          <div *ngIf="test.image != ''" [innerHTML]="images[test.svg]"></div>
        </div>
        <div>
          <button *ngIf="test.addictions.length > 0" class="test__btn test" (click)="openModal(test)">Hacer test</button>
          <a *ngIf="test.addictions.length == 0" [routerLink]="['/test/test/'+test.id]"><button class="test__btn test">Hacer test</button></a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
