body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--color-grey-light);
}

::placeholder {
  color: var(--color-gray-dark-2);
}


.inputContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background:var(--color-white);
    border-radius: 8px;
    border: 1px solid var(--color-gray-dark-2);
    height: 45px;
    &:focus {
      outline: none !important;
    }
  
    &__icon {
      margin: 15px;
    }
  
    &__box {
      border: 0;
      padding: 15px;
      flex: 1;
      border-radius: 5px;
      background:var(--color-white);
      outline-style: none !important;
      font-size: 16px;
    }
  }
  
.error-field {
  visibility: hidden;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
width: 100%;
}

.test-img {
  img{
    width: 172px !important;
  }
}

.test-info-top:first-child {
  margin-top: 120px;
}