/* KANIT*/

/* kanit Regular */
@font-face {
	font-family: 'kanitRegular';
  src: url('/assets/fonts/kanit-v7-latin-regular.woff2') format("woff2"),/* Super Modern Browsers */
  url('/assets/fonts/kanit-v7-latin-regular.woff') format("woff");/* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'KanitNormal';
  src: url('/assets/fonts/kanit-v7-latin-300.woff2') format("woff2"),/* Super Modern Browsers */
  url('/assets/fonts/kanit-v7-latin-300.woff') format("woff");/* Modern Browsers */
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'KanitMedium';
  src: url('/assets/fonts/kanit-v7-latin-500.woff2') format("woff2"),/* Super Modern Browsers */
  url('/assets/fonts/kanit-v7-latin-500.woff') format("woff");/* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}
/* END Regular */


/* FIRE*/

/* kanit Regular */
@font-face {
	font-family: 'FiratRegular';
  src: url('/assets/fonts/AnyConv.com__FiraSans-Regular.woff2') format("woff2"),/* Super Modern Browsers */
  url('/assets/fonts/FiraSans-Regular.woff') format("woff");/* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FiratLight';
  src: url('/assets/fonts/AnyConv.com__FiraSans-ExtraLight.woff2') format("woff2"),/* Super Modern Browsers */
  url('/assets/fonts/FiraSans-Light.woff') format("woff");/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiratMedium';
  src: url('/assets/fonts/AnyConv.com__FiraSans-Medium.woff2') format("woff2"),/* Super Modern Browsers */
  url('/assets/fonts/FiraSans-Medium.woff') format("woff");/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiratBold';
  src: url('/assets/fonts/AnyConv.com__FiraSans-Bold.woff2') format("woff2"),/* Super Modern Browsers */
  url('/assets/fonts/FiraSans-Bold.woff') format("woff");/* Modern Browsers */
	font-weight: bold;
	font-style: normal;
}
/* END Regular */

