<div class="reset-form__header">
  <p class="reset-form__title">Recuperar contraseña</p>
  <p class="reset-form__subtitle">¿Perdiste tu contraseña? Por favor, introduce tu correo electrónico y recibirás allí las instrucciones.</p>
</div>
<div class="reset-form__form">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="reset-form__input">
      <input type="email" placeholder="Email" formControlName="email">
      <ion-icon name="mail-outline"></ion-icon>
    </div>
    <button class="reset-form__btn reset" type="submit">Enviar</button>
    <a [routerLink]="['/login']"><button class="reset-form__btn cancel">Cancelar</button></a>
  </form>
</div>
