<div class="reset-form__header">
  <p class="reset-form__title">Recuperar contraseña</p>
  <p class="reset-form__subtitle">¿Perdiste tu contraseña? Por favor, introduce tu correo electrónico y recibirás allí las instrucciones.</p>
</div>
<div class="reset-form__form">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" placeholder="Email" formControlName="email" matInput>
            <img src="./../../../assets/icon/email_outline.svg" alt="" matSuffix>
            <mat-error *ngIf="resetForm.get('email').hasError('email') && !resetForm.get('email').hasError('required')">
              Por favor ingresar un correo electrónico válido
            </mat-error>
            <mat-error *ngIf="resetForm.get('email').hasError('required')">
              El correo electrónico es <strong>necesario</strong>
            </mat-error>
          </mat-form-field>
    <button class="btn btn-primary width-100 app-m-bottom" type="submit">Enviar</button>
    <a [routerLink]="['/login']"><button class="btn btn-secondary width-100">Cancelar</button></a>
  </form>
</div>
