ion-icon {
    font-size: 28px;
    position: absolute;
    right: 18px;
    top: 11px;
    color: #4A657080;
}

.reset-form {

    &__title {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 24px;
        width: 270px;
        margin-bottom: 35px;
        margin-top: 12px;
    }

    &__input{
        margin-bottom: 28px;
        position: relative;
    }

    &__input input {
        width: 100%;
        height: 50px;
        padding-left: 16px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #4A657080;
        border-radius: 8px;
        opacity: 1;
    }

    &__btn {
        width: 100%;
        height: 44px;  
    }

    &__btn.reset {
        background: #009E9E 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px #00D1D14D;
        border-radius: 22px;
        color: #fff;
        margin-bottom: 20px;
    }
}
