<ion-menu side="start" menuId="first" contentId="content">
  <ion-content>
    <ion-list>
      <ion-item onclick='window.open("https://apprevenir.com/conocenos/", "_system", "location=yes"); return false;'>Más sobre Apprevenir</ion-item>
      <ion-item onclick='window.open("https://apprevenir.com/contactanos/", "_system", "location=yes"); return false;'>Contáctanos</ion-item>
      <ion-item  (click)="logout()">Cerrar sessión</ion-item>
    </ion-list>
  </ion-content>
  <div class="footer-menu">
    <img src="../../../assets/images/logo-luis-amigo.png" alt="">
    © 2020. Universidad Católica Luis Amigó
  </div>
</ion-menu>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="openFirst()">
      <ion-icon name="reorder-three-outline"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Test</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
