<div class="modal-terms__content" *ngIf="terms">
  <div class="modal-terms__title">
      Términos y condiciones generales de uso
  </div>
  <div class="modal-terms__text">
    <div>
      <span class="modal-terms__title">I. Objeto</span><br><br>
      <p>
        Apprevenir permite, conforme a las direcciones y vínculos visibles, a sus Usuarios el acceso y la utilización de diversos servicios y contenidos 
        (en adelante, los "Servicios") puestos a disposición por Apprevenir o por terceros, bajo las condiciones acá indicadas.
      </p>
      <p>
        Los presentes términos y condiciones tienen por objeto establecer y regular las condiciones de acceso y uso general al SITIO WEB, APP o al servicio prestado 
        por medio del canal SMS (Short Message Service o mensajes de texto), en adelante EL SITIO, así como a los distintos contenidos y servicios prestados 
        por Apprevenir o por terceros desde y/o a través del mismo. En este último caso, cuando los contenidos y servicios no estén hospedados en 
        EL SITIO Apprevenir no se hace responsable por los mismos.
      </p>
      <p>
        Tanto el acceso como la utilización general del SITIO WEB, APP o el canal SMS atribuyen la condición de usuario del mismo (en adelante, el "USUARIO"), implicando tal acceso otorgado al usuario necesariamente la aceptación plena y 
        sin reservas de todas y cada una de las disposiciones y condiciones incluidas en los términos y condiciones generales de acceso y uso del mismo.
      </p>
      <p>
        El Usuario queda expresamente enterado y acepta que estas condiciones podrán experimentar variaciones en el futuro a libre criterio de Apprevenir y 
        sin obligación alguna de aviso previo por su parte que igualmente serán visibles en EL SITIO. Como efecto de lo anterior, será de la sola y exclusiva 
        responsabilidad del Usuario verificar los términos y condiciones vigentes en cada una de las ocasiones en que acceda al SITIO o de cualquier manera haga 
        utilización al SITIO WEB, APP o usando el canal SMS. La utilización de servicios ofrecidos a los Usuarios a través del SITIO WEB, APP o el canal SMS- en 
        particular el acceso y uso del ENTORNO TRANSACCIONAL o TIENDA ON-LINE que hace parte del SITIO WEB - podrá ser objeto de condiciones y configuraciones 
        de utilización y acceso particulares (en adelante, las "Condiciones Particulares") que, según los casos, podrán sustituir, completar y/o modificar los 
        presentes términos y condiciones generales.
      </p>
      <span class="modal-terms__title">II. REGISTRO Y ACCESO</span><br><br>
      <p>
        Con carácter general el acceso general al SITIO WEB es libre y no exige el previo registro de Usuario. No obstante, Apprevenir podrá condicionar el acceso a determinadas y específicas áreas y la utilización de ciertos Servicios al 
        previo y completo diligenciamiento del correspondiente formulario de registro de Usuario, datos diligenciados por el usuario que Apprevenir administrará 
        para su propósito y para propósito de los aliados comerciales de Apprevenir, quienes son autorizados por el usuario a través del diligenciamiento completo 
        de su registro, conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en Colombia (Ley 1581 de 2012 y normas que la reglamenten).
      </p>
      <p>
        Asimismo, Apprevenir podrá poner a disposición de los Usuarios ciertos y determinados Servicios para cuya utilización y acceso del Usuario pudiera 
        requerir el diligenciamiento de formulario de registro adicionales y/o satisfacción de determinadas contraprestaciones dinerarias que se 
        tramitarán por el Usuario bajo condiciones transaccionales seguras dispuestas por EL SITIO WEB, APP o el canal SMS. En su caso, dicho registro 
        se efectuará en la forma expresamente indicada en el formulario y anexos permitidos con el acceso al propio servicio y/o en las condiciones 
        particulares que lo regulen visibles en el vínculo dispuesto por el mismo sitio, datos diligenciados que Apprevenir administrará para su 
        objeto y para objeto de los aliados comerciales de Apprevenir , conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en 
        Colombia (Ley 1581 de 2012 y normas que la reglamenten). El Usuario garantiza, al momento del registro, la veracidad del conjunto de los datos 
        diligenciados en los formularios en el SITIO a los cuales accede Apprevenir, información y datos de los cuales es el Usuario responsable de 
        mantenerlos completamente actualizados. En todo caso, el Usuario será el único responsable de las manifestaciones falsas o inexactas que realice con 
        el diligenciamiento de formularios en el Sitio y de los perjuicios que cause a Apprevenir y/o a terceros por la información falsa y/o inexacta que 
        incorpore en los formularios con el registro. Apprevenir se reserva el derecho de negar el ingreso, acceso y/o registro en el SITIO WEB, APP o el canal SMS 
        en cualquier momento y sin que deba mediar aviso, notificación, justificación y/o explicación alguna. Esta negativa no comportará derecho a indemnización 
        alguna. Los datos ingresados por el usuario al momento de su registro podrán ser utilizados y compartidos por Apprevenir con sus aliados comerciales; 
        igualmente, Apprevenir podrá a partir del registro del usuario y por el solo acto de registro, enviar información propia del Sitio y de sus aliados 
        comerciales a los correos de los usuarios, siempre conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en Colombia 
        (Ley 1581 de 2012 y normas que la reglamenten). El sitio de Apprevenir y los sitios de su aliados son medios de acceso y/o transferencia de información de 
        interés de los usuarios quienes libremente y bajo su propia responsabilidad acceden y/o se registran conforme a los parámetros y condiciones del sitio, 
        razón por la cual la responsabilidad sobre los contenidos y alcances de las respuestas, información, datos y en general sobre los efectos de las redacciones 
        proveídas por los profesionales de la medicina transmitidas por el sitio de Apprevenir, es responsabilidad única y exclusiva de tales profesionales de la 
        salud que escriben tales respuestas, quienes igualmente obran por su propia cuenta y riesgo Una vez se complete satisfactoriamente el proceso de registro 
        por parte del Usuario, Apprevenir podrá incorporar al Usuario en su base de datos de Usuarios registrados, pudiendo utilizar dicha base de datos para el 
        desarrollo de su objeto y para el desarrollo del objeto de sus aliados conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en Colombia 
        (Ley 1581 de 2012 y normas que la reglamenten). Una cuenta será generada con su dirección de correo electrónico y “palabra clave de acceso” asociada para 
        cada Usuario.
      </p>
      <span class="modal-terms__title">III. POLÍTICA DE COOKIES</span><br><br>
      <p>
        Uso de ‘cookies’: El SITIO WEB de Apprevenir , conforme a la costumbre mercantil y a la costumbre incorporada al comercio electrónico, emplea ‘cookies de sesión’ con la finalidad de permitir y facilitar la interacción del usuario con el mismo sitio. Asimismo los servicios de estadísticas –propios o ajenos-, empleados por el SITIO WEB de Apprevenir pueden emplear ‘cookies’ con la finalidad de establecer métricas y patrones de uso del sitio. El acceso, uso, registro, y, en general, la simple navegación por el SITIO WEB de Apprevenir suponen necesariamente el consentimiento del usuario a la utilización de “cookies” por parte de Apprevenir y/o de sus proveedores de servicios, conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en Colombia (Ley 1581 de 2012 y normas que la reglamenten).

        ¿Qué son las cookies? Una cookie es un archivo que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.

        ¿Qué tipos de cookies utiliza esta página web?

        Cookies de análisis: Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.

        Cookies publicitarias: Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos mostrarle publicidad relacionada con su perfil de navegación.

        Usted puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador. En la función “Ayuda” de la mayoría de los navegadores se indica cómo configurar su navegador para que no acepte cookies, para que le notifique cada vez que reciba una nueva cookie, así como para desactivar completamente todas las cookies. Además, puede deshabilitar o eliminar datos similares utilizados por las extensiones (add-on) de los navegadores, como las “Flash Cookies”, cambiando la configuración de dichas extensiones o visitando el sitio web del fabricante.
      </p>
      <span class="modal-terms__title">IV. OBLIGACIONES DEL USUARIO.</span><br><br>
      <p>
        Serán obligaciones del Usuario, sin perjuicio de las que surjan a partir del clausulado de este documento y de las que dispongan la ley, las siguientes:
        <ul>
          <li>
            Garantizar la veracidad y exactitud de los datos de registro introducidos en los sistemas de información de Apprevenir y llevar a cabo cuantas actualizaciones de los mismos fueran necesarias para la eficiente obtención de los servicios ofrecidos por el sitio. En todo caso el Usuario será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a Apprevenir o a terceros por la información que facilite.
          </li>
          <li>
            Custodiar, proteger y preservar los datos correspondientes a el “usuario” y la “palabra clave de acceso” otorgados por Apprevenir a el Usuario con ocasión del diligenciamiento de su registro y/o de los formularios dispuestos respectivamente por el sitio, impidiendo el acceso de terceras personas no autorizados a las mismos y por tanto asegurando su confidencialidad.
          </li>
          <li>
            Notificar a Apprevenir con carácter inmediato cualquier indicio sobre la existencia de una violación en la seguridad SITIO WEB, así como de usos inapropiados y/o prohibidos conforme a la ley colombiana, de los servicios prestados desde el mismo, o de fallos de seguridad de cualquier índole relacionados directa o indirectamente con los mismos servicios a los cuales accede desde el sitio.
          </li>
          <li>
            Hacer buen uso de los contenidos, información y servicios prestados desde o a través del SITIO WEB, APP o canal SMS, conforme a la ley colombiana, la buena fe y a las buenas costumbres generalmente aceptadas, comprometiéndose expresamente a: <br>
            
            ° Abstenerse de realizar prácticas o usos respecto de los servicios ofrecidos por el SITIO con fines ilícitos, fraudulentos, lesivos de derechos o intereses de Apprevenir o de terceros, infractores de las normas contenidas en la ley colombiana, en el presente catálogo o en las Condiciones Particulares que en su caso regulen cualquiera de los servicios prestados desde o a través del SITIO WEB.<br>
              
            ° Abstenerse de realizar cualquier tipo de acción que pudiera inutilizar, sobrecargar o dañar sistemas, equipos o servicios del SITIO WEB o accesibles directa o indirectamente a través del SITIO WEB o de aliados de Apprevenir.<br>
              
            ° Respetar los derechos de autor y de propiedad industrial de Apprevenir y de terceros sobre los, signos distintivos, contenidos, información y servicios prestados desde o a través del SITIO WEB, absteniéndose con carácter general de reproducir, copiar, distribuir, reproducir, comunicar en forma alguna los mismos a terceros, o de cualquier manera usar en su provecho o en provecho de terceros, siempre que no medie autorización expresa y por escrito de 1DOC3 o de los titulares de dichos derechos. 
          </li>
        </ul>
      <span class="modal-terms__title">V. PROPIEDAD INTELECTUAL</span><br><br>
      <p>
        SITIO WEB: Todo el software y los contenidos generales del SITIO WEB, incluidos: textos, animaciones, imágenes etc. así como las marcas, nombres comerciales y/o signos distintivos mostrados o que se desplieguen como efecto o consecuencia de vínculos ubicados en el SITIO son propiedad de Apprevenir o de terceros que han autorizado a 1DOC3 y están protegidos por las leyes nacionales e internacionales de propiedad intelectual.

        Cualquier uso ajeno a la ejecución pública del SITIO WEB por parte de Apprevenir , incluida la reproducción, modificación, distribución, transmisión, reedición, arreglos o representación de cualesquiera elementos del mismo está estrictamente prohibido salvo consentimiento expreso escrito de Apprevenir .

        CONTENIDOS INTRODUCIDOS POR LOS USUARIOS: El usuario será el único y exclusivo responsable sobre cualesquiera contenidos introducidos o publicados por el mismo en el SITIO WEB, APP por el canal SMS o en sitios de aliados de cualquier manera vinculados al SITIO y, en particular, en la sección “PREGUNTA-RESPUESTA” del mismo, y será por tanto único responsable de cualquier consecuencia que pudiese derivarse de tales publicaciones, eximiendo expresamente a Apprevenir de cualquier responsabilidad a este respecto. No obstante, el Usuario autoriza a Apprevenir a utilizar las preguntas realizadas y enviadas al SITIO WEB con cualquier propósito relacionado con el objeto de Apprevenir.

        El usuario se compromete a no incluir en el SITIO WEB y, en particular, en la sección “PREGUNTA-RESPUESTA” del mismo, información o contenidos con explícita finalidad comercial, xenófoba, política, religiosa, o de cualquier manera violatoria de derechos de Apprevenir y/o de terceros, ni aquellos que pudiesen ser de alguna manera contrarios a los derechos de morales o patrimoniales de autor de Apprevenir y/o de terceros, o violatorios de la ley, las buenas costumbres y/o a los presentes Términos y Condiciones Generales.

        El usuario confiere a Apprevenir una licencia de uso y provecho irrevocable, de ámbito mundial y perpetua (o, en su defecto, por todo el espacio de tiempo previsto por la legislación nacional e internacional vigente), sobre cualesquiera informaciones o contenidos introducidos o publicados por el mismo en el SITIO WEB y, en particular, en la sección “PREGUNTA-RESPUESTA” del mismo, para reproducir y comunicar públicamente los mismos, así como para –en su caso- agregar información a los mismos y/o para transformarlos con el objeto de adaptarlos a las necesidades técnicas y/o comerciales de los distintos servicios prestados desde y/o a través del SITIO WEB.

        En relación con el contenido publicado en el SITIO WEB por el Usuario, y, en particular, en la sección “PREGUNTA-RESPUESTA” del mismo, el usuario garantiza a Apprevenir:
        <ul>
          <li>
            Ser el propietario y/o titular de los derechos que permiten conceder a Apprevenir la licencia para su uso y/o publicación y que, en su caso, ha obtenido de terceros el consentimiento y autorizaciones necesarias para ello, debiendo en cualquier caso proveer indemnidad a Apprevenir en caso de que tales usos del Usuario vulneren derechos de terceros.
          </li>
          <li>
            Que NO vulnera leyes aplicables, tales como las relativas al derecho a la intimidad, a la imagen y/o al honor, derechos de propiedad intelectual o industrial o similar, ni en general ningún derecho de tercero, ya sea una persona física o una persona jurídica.
          </li>
          <li>
            Que en caso de publicación de datos de carácter personal de persona física alguna, ha informado exhaustivamente y obtenido previamente el consentimiento necesario para la publicación de dichos datos por parte del/os afectado/s y/o implicados con tal uso de información.
          </li>
          <li>
            El usuario responderá frente a Apprevenir de la veracidad de lo afirmado, manteniendo indemne a Apprevenir ante cualquier demanda, reclamación o queja presentada por un tercero en relación con cualesquiera contenidos introducidos o publicados por el mismo en el SITIO WEB y, en particular, en la sección “PREGUNTA-RESPUESTA” del mismo.
          </li>
        </ul>
      <span class="modal-terms__title">VI. GARANTÍAS</span><br><br>
      <p>
        El acceso al SITIO WEB, APP o canal SMS no implica o de cualquier manera deriva ningún tipo de garantía y/o resultado en favor del Usuario y/o tercero, que expresamente no se otorga y/o concede por Apprevenir , respecto a la calidad, veracidad, exactitud, licitud, actualidad o vigencia, así como la utilidad o adecuación a finalidad alguna de quien acceda a ellas. Tanto el acceso al SITIO WEB como el uso que pueda hacerse de la información y contenidos incluidos en el mismo o que sea accesible desde el mismo, se efectúa bajo la exclusiva responsabilidad del Usuario.

        Apprevenir no responderá en ningún caso y en ninguna medida, ni por daños directos ni indirectos, ni por daño emergente ni por lucro cesante, por los eventuales perjuicios derivados del uso de la información y contenidos del SITIO WEB, APP o el canal SMS accesibles desde o a través del mismo.

        Apprevenir NO garantiza en modo alguno la calidad, veracidad, exactitud, licitud, actualidad o vigencia, o resultado, así como la utilidad o adecuación a finalidad alguna de los contenidos que integran el SITIO WEB, APP o el canal SMS.

        Apprevenir excluye, con toda la extensión permitida por la Ley, cualquier responsabilidad de cualquier clase por la calidad, veracidad, exactitud, licitud, actualidad, resultado, vigencia o utilidad/adecuación a finalidad alguna que el Usuario pudiera haber atribuido u otorgado para sí o para terceros, a los contenidos que integran el SITIO WEB, APP o el canal SMS.

        El usuario queda enterado y acepta con el simple ingreso, navegación y/o registro en el Sitio que cualesquiera contenidos e información de índole sanitario y/o de salud contenida en el SITIO WEB, APP o el canal SMS tiene carácter meramente informativo y NO CONSTITUYE EN NINGÚN CASO UN SERVICIO DE DIAGNÓSTICO MÉDICO, DE PRESCRIPCIÓN DE TRATAMIENTOS FAMACOLÓGICOS. Se advierte y pone en conocimiento del usuario, que la información y/o contenidos del SITIO WEB, APP o el canal SMS NO puede en ningún caso sustituir la consulta presencial personal frente a un profesional y/o facultativo médico debidamente cualificado conforme a la legislación colombiana vigente.

        EL contenido intercambiado en la PREGUNTA-RESPUESTA en NINGÚN caso constituye una relación MÉDICO-PACIENTE ante la ley colombiana.

        El usuario declara entender y aceptar sin reserva de ninguna clase las características y limitaciones inherentes a la información contenida en el SITIO WEB, APP o el canal SMS. De conformidad con las condiciones de transacción comercial vigente en Colombia aplicables al Sitio, la edad mínima para el registro de usuario en el SITIO WEB, APP o el canal SMS es de 18 años de edad. El uso del SITIO WEB, APP o el canal SMS por parte del usuario constituye declaración por su parte de contar con -al menos-, 18 años de edad. El usuario garantiza la veracidad de dicha declaración y libera a Apprevenir de cualquier consecuencia derivada directa o indirectamente de la inexactitud o falta de veracidad de la misma.

        Apprevenir declara explícitamente que la información de salud proporcionada en el SITIO WEB, APP o canal SMS (textos, vídeos, tratamientos, tablas, gráficos, fotografías, imágenes, consejos, mensajes y cualquier otro material) tiene únicamente un fin informativo y, en ningún caso, sustituye el consejo médico, incluso en el caso de ser un médico identificado en el SITIO WEB, APP o el canal SMS quien proporcione dicha información, siendo el SITIO WEB o APP un mero y simple intermediario de información.

        Sugeridamente El Usuario, deberá consultar SIEMPRE a su médico, hablar con él o acudir a su consulta para cualquier duda de salud que pueda tener. En ningún caso, la lectura de la información vertida en este SITIO WEB, APP o el canal SMS debe hacer y/o de cualquier manera determinar la idea según la cual deba retrasarse la consulta directa y personal con un médico y/o facultativo conforme a la ley colombiana, ni hacer caso omiso de sus recomendaciones.

        El SITIO WEB podrá contener enlaces a páginas que, aún dentro del SITIO WEB se encuentran bajo responsabilidad de terceros. Asimismo, el SITIO WEB, APP podrá contener enlaces a páginas externas al mismo. En ambos casos, Apprevenir no puede controlar o supervisar en modo alguno dicho contenido. Apprevenir excluye, con toda la extensión permitida por la Ley, cualquier responsabilidad de cualquier clase, derivada de la existencia o posibilidad de acceso a dichos contenidos.

        Asimismo, Apprevenir no será en ningún caso responsable, ni siquiera de forma indirecta o subsidiaria, por productos o servicios prestados u ofertados por otras personas o entidades, o por contenidos, informaciones, comunicaciones, opiniones o manifestaciones de cualquier tipo originados o vertidos por terceros y que resulten accesibles a través de las Páginas Web de Apprevenir.

        Seguridad y Privacidad: Apprevenir empleará razonablemente los medios a su alcance para proveer de sistemas de seguridad que protejan de forma razonable sus sistemas y los datos contenidos en los mismos contra ataques deliberados, software maligno, etc. No obstante, el Usuario entiende y acepta los aspectos que comporta la prestación de servicios a través de Internet dado el carácter abierto, descentralizado y global de esta red de comunicaciones.

        Por este motivo Apprevenir NO garantiza la inexpugnabilidad de sus sistemas de seguridad ni la privacidad de la información alojada en los mismos. Apprevenir excluye, con toda la extensión permitida por la Ley, cualquier responsabilidad de cualquier clase por fallos de seguridad en el SITIO WEB, APP o el canal SMS y las consecuencias que de ellos pudieran derivarse.

        Interrupciones y/o Suspensión del Sistema: Con carácter general los diferentes servicios estarán disponibles ininterrumpidamente en Internet. Sin embargo, el Usuario declara conocer y acepta con el simple ingreso, navegación y/o registro en el Sitio que Apprevenir NO garantiza en modo alguno esta continuidad debido a la naturaleza del medio a través del que se prestan.

        El Usuario entiende y acepta los aspectos que comporta la prestación de servicios a través de Internet dado el carácter abierto, descentralizado y global de la red.

        Así, por ejemplo, a título enunciativo no exhaustivo, a continuación, se recogen algunas de las situaciones que pueden interrumpir temporalmente la prestación de dichos servicios:
        <ul>
          <li>
            Tareas de mantenimiento en los servidores y/o líneas de datos
          </li>
          <li>
            Averías en los servidores y/o líneas de datos
          </li>
          <li>
            Ataques deliberados contra la seguridad e integridad del sistema
          </li>
          <li>
            Virus informáticos o presencia de código maligno en las páginas que conforman o son accesibles desde el SITIO WEB Apprevenir excluye, con toda la extensión permitida por la Ley, cualquier responsabilidad de cualquier clase derivada de la interrupción temporal en la disponibilidad del SITIO WEB en la red Internet.
          </li>
        </ul>
        El Usuario declara conocer y acepta con el simple ingreso, navegación y/o registro en el Sitio que Apprevenir podrá en cualquier momento, a su solo criterio y sin obligación alguna de aviso previo, suspender con carácter definitivo la presencia del SITIO WEB en la red Internet y por tanto de los servicios prestados desde o a través del mismo, sin perjuicio de lo que se hubiere dispuesto al respecto en las correspondientes Condiciones Particulares. Apprevenir queda eximida de cualquier tipo de responsabilidad de cualquier clase derivada de las consecuencias que pudieran producirse por la suspensión definitiva en la prestación de dichos servicios.

        El usuario médico al darse de alta en la plataforma acepta como médico, que las respuestas generadas en la plataforma, sean utilizadas por Apprevenir para análisis estadísticos, propósitos de investigación y fines comerciales.

      <span class="modal-terms__title">VII. CANCELACIÓN DEL USUARIO Y RESPONSABILIDADES</span><br><br>
      <p>
        Cualquier Usuario podrá solicitar su baja y/o eliminación de las bases de datos de Apprevenir, en cualquier momento, como usuario del SITIO WEB, APP o el canal SMS.

        1DOC3 dispondrá de un plazo de treinta (30) días para examinar la situación de dicho Usuario con respecto de la totalidad de servicios a que se hallare suscrito para, en su caso, emitir factura por todos aquellos consumos, costos, gastos y/o emolumentos que a la recepción de la petición de baja se hallaren pendientes de cobro en favor de Apprevenir. De no existir importe alguno pendiente de liquidación y/o cobro, la baja se llevará a efecto con carácter inmediato. En caso contrario, la baja quedará supeditada en el tiempo y condiciones al cobro efectivo de dichos importes por parte de Apprevenir.

        El Usuario responde por el buen uso del SITIO WEB, APP o el canal SMS y de los servicios contratados desde o a través del mismo. Cualquier uso de los servicios en contrario por parte del Usuario, comportará la inmediata exclusión del SITIO WEB, APP o el canal SMS con pérdida de su condición de usuario registrado del mismo, sin derecho a indemnización alguna y sin perjuicio de las correspondientes acciones legales a que por parte de Apprevenir hubiere lugar conforme a la ley colombiana o del lugar en el cual pueda actuarse contra el usuario.

        La falsedad de los datos personales y/o profesionales ingresados por el Usuario durante el proceso de registro en el SITIO WEB o en cualquiera de los servicios prestados desde o a través del mismo podrá comportar la inmediata exclusión del SITIO WEB, APP o el canal SMS con pérdida de su condición de usuario registrado del mismo, sin derecho a indemnización alguna y sin perjuicio de las correspondientes acciones legales a que por parte de Apprevenir o de terceros hubiere lugar.

        Cualquier tipo de acción por parte del usuario que pudiera poner en riesgo o dañar sistemas, equipos o servicios accesibles directa o indirectamente a través del SITIO, comportará su inmediata exclusión del mismo con pérdida de su condición de usuario registrado del mismo, sin derecho a indemnización alguna y sin perjuicio de las correspondientes acciones legales y reclamaciones de perjuicios que por parte de Apprevenir hubiere lugar.

        Cualquier tipo de acción por parte del usuario que vulnere los presentes términos y condiciones, las Condiciones Particulares que pudieran regular Servicios concretos, la Ley o las buenas costumbres generalmente aceptadas en Colombia o en el país en el cual se ubique el usuario, comportará su inmediata exclusión del SITIO WEB, APP o el canal SMS con pérdida de su condición de usuario registrado del mismo, sin derecho a indemnización alguna y sin perjuicio de las correspondientes acciones legales a que por parte de Apprevenir hubiere lugar.

        El Usuario será el único responsable frente a cualquier reclamación, acción legal, judicial o extrajudicial, iniciada por terceras personas tanto contra el propio Usuario como contra Apprevenir , basada en usos de los servicios contrarios a la ley, la moral, la buena fé y a las buenas costumbres generalmente aceptadas.

        Los usuarios médicos manifiestan que las respuestas generadas por ellos en la plataforma se mantendrán visibles a los usuarios de la misma para que las sigan consultando así no se encuentren activos y por el sólo hecho de aceptar estos términos y condiciones acuerdan ceder todos sus derechos de autor sobre las/sus respuestas.
      
      <span class="modal-terms__title">VIII. NOTIFICACIONES</span><br><br>
      <p>
        El correo electrónico facilitado por el Usuario durante el proceso de registro en el SITIO WEB, será el utilizado por Apprevenir a efectos de practicar notificaciones al Usuario.

        El Usuario está obligado a mantener debidamente actualizados los datos que a efectos de notificaciones se referencian en la presente cláusula. En caso de que Apprevenir de cualquier manera detecte que el usuario ha faltado a la verdad o incorpore imprecisiones en el proceso de registro al sitio, podrá inmediatamente y sin previo aviso eliminar al usuario de sus bases de datos y/o de los procesos de registro y hospedaje del sitio.

        Todas las Notificaciones que efectúe Apprevenir al Usuario se considerarán válidamente efectuadas si se han realizado empleando los datos ingresados de cualquier manera por el usuario al sitio, a través de los medios anteriormente señalados. Apprevenir no se responsabiliza de cualquier daño que pudiere producirse por la vulneración del Usuario de su obligación de mantenimiento actualizado de sus datos de contacto.
      
      <span class="modal-terms__title">IX. VALIDEZ Y ACUERDO COMPLETO</span><br><br>
      <p>
        La declaración de nulidad o invalidez de cualquier estipulación contenida en los presentes términos y condiciones, no afectará a la validez y eficacia de las demás cláusulas y condiciones.

        Los presentes términos y condiciones de los servicios prestados por Apprevenir a través del SITIO WEB constituyen el acuerdo total entre las partes, considerándose de rango superior a cualquier acuerdo previo escrito o verbal, entendimiento, afirmación, representación, negociación o propósito de acuerdo en relación con esta materia, previos.
      
      <span class="modal-terms__title">X. LEGISLACIÓN Y JURISDICCIÓN APLICABLE</span><br><br>
      <p>
        Los presentes términos y condiciones se regirán e interpretarán en todos y cada uno de sus extremos por la Ley Colombiana. Tanto Apprevenir como el Usuario se comprometen a intentar resolver de manera amistosa cualquier desacuerdo que pudiera surgir en el desarrollo de sus relaciones mercantiles y/o comerciales.
      
    </div>
  </div>
  <div class="modal-terms__btn-acept" (click)="closeModal()">Aceptar</div>
</div>

<div class="modal-terms__content" *ngIf="!terms">
  <div class="modal-terms__title">
      Política de privacidad
  </div>
  <div class="modal-terms__text">
    <div>
      <span class="modal-terms__title">I. PROPÓSITO</span><br><br>
      <p>
        La presente política se expide en cumplimiento de la Ley Estatutaria 1581 de 2012 y el Decreto Único Reglamentario Sectorial 1074 de 2015 sobre el régimen de protección de datos personales y busca garantizar que Apprevenir, en condición de responsable del manejo de datos personales, realice el tratamiento de los mismos en estricto cumplimiento de la normatividad aplicable, garantizando asimismo los derechos de los titulares de los datos.
      </p>
      <span class="modal-terms__title">II. RESPONSABLE</span><br><br>
      <p>
        Denominación: Apprevenir <br>
        Dirección: Transversal 51A #67B 90 Medellín - Colombia. <br>
        Ciudad: Medellín, Antioquia <br>
        Correo Electrónico: contacto.apprevenir@amigo.edu.co <br>
        Teléfono: +57 604 448 7666 <br>
        Área a cargo: Oficina de Protección y Tratamiento de Datos Personales.
      </p>
      <span class="modal-terms__title">III. PRINCIPIOS PARA EL TRATAMIENTO DE DATOS PERSONALES</span><br><br>
      <p>
        En el desarrollo, interpretación y aplicación de la presente política, se aplicarán de manera armónica e integral, los siguientes principios: <br>
        1. Principio de legalidad en materia de Tratamiento de datos: Todo tratamiento de datos personales está regulado por la Ley 1581 de 2012 y el Decreto 1074 de 2015. <br>
        2. Principio de finalidad: El tratamiento debe obedecer a una finalidad legítima de acuerdo con la Constitución y la Ley, la cual debe ser informada al Titular. <br>
        3. Principio de libertad: El tratamiento sólo puede ejercerse con el consentimiento previo, expreso e informado del titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que releve el consentimiento. <br>
        4. Principio de veracidad o calidad: La información sujeta a tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error, salvo que el titular así lo autorice. <br>
        5. Principio de transparencia: Se garantiza al titular su derecho a obtener en cualquier momento y sin restricciones, información respecto de sus datos personales que reposen en las bases de datos de Apprevenir. <br>
        6. Principio de acceso y circulación restringida: Los datos personales que no tengan carácter público sólo podrán estar disponibles en internet u otros medios de comunicación masiva cuando el acceso a ellos sea técnicamente controlable por Apprevenir y sólo podrán ser accedidos de manera restringida por el titular, por quien este autorice y/o por las personas previstas en la Ley. <br>
        7. Principio de seguridad: La información sujeta a tratamiento por el responsable o encargado se deberá manejar con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento. <br>
        8. Principio de confidencialidad: Todas las personas que intervengan en el tratamiento de datos personales que no tengan la naturaleza de públicos están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las labores que comprende el tratamiento, pudiendo sólo suministrar o comunicar datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la Ley.
      </p>
      <span class="modal-terms__title">IV. TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS DATOS</span><br><br>
      <p>
        Apprevenir  trata los datos personales de sus clientes, aliados, empleados, funcionarios, contratistas y proveedores dentro del desarrollo de sus actividades. Esto lo realiza directamente, a través de sus empleados, funcionarios o por parte de mandatarios encargados de ello.

        Asimismo, comparte los datos con terceros ubicados en Colombia y en exterior con quienes se celebra contratos para la transferencia y/o trasmisión de datos personales, según corresponda, con el propósito de mantenerlos seguros y protegidos de conformidad con las reglas y estándares aplicables.

        Apprevenir tiene la obligación de mantener la confidencialidad de los datos personales objeto de tratamiento y sólo podrá divulgarlos por solicitud expresa de las entidades de vigilancia y control y por autoridades que tengan la facultad legal de solicitarla.

        En todo momento los titulares podrán de manera gratuita conocer, actualizar, rectificar y corregir su información personal de conformidad con el artículo 8 de la Ley 1581 de 2012.

        En desarrollo del principio de finalidad, la recolección de datos personales por parte de Apprevenir se limita a aquellos datos personales que son pertinentes y adecuados para cumplir con las finalidades expresadas en la presente política. Salvo en los casos expresamente previstos en la Ley, no se podrán recolectar datos personales sin autorización del Titular.

        El tratamiento de datos incluye la recolección, almacenamiento, administración, utilización, transferencia, transmisión y destrucción, en la forma permitida por la Ley y se realiza con las siguientes finalidades específicas: <br>

        1. Promoción, protección y recuperación de la salud, y de los derechos sexuales y reproductivos a través de: <br>
        
        <ol>
          <li>
            Respuestas a las preguntas realizadas por los usuarios.
          </li>
          <li>
            Elaboración de procesos de seguimiento y evaluación sobre la prestación del servicio a través de encuestas.
          </li>
          <li>
            Envío de información y contenido de interés específico.
          </li>
          <li>
            Identificación de epidemias y generación de alertas sobre éstas.
          </li>
          <li>
            Elaboración de estudios sobre hábitos de consumo y enfermedades.
          </li>
          <li>
            Elaboración de análisis estadísticos, demográficos y de mercado.
          </li>
          <li>
            Desarrollo de estudios y publicaciones de carácter académico y periodístico relacionadas con la información recolectada por Apprevenir
          </li>
          <li>
            Ofrecimiento de servicios personalizados para cada usuario acorde con la información recolectada.
          </li>
          <li> Desarrollo de actividades comerciales conjuntas con compañías o entidades vinculadas o aliadas.</li>
        </ol>
        2. Mantener comunicación periódica y efectiva con los usuarios de nuestra plataforma, clientes, afiliados, empleados, funcionarios, proveedores, y cualquier persona respecto de la cual estemos autorizados para efectuar el tratamiento de sus datos personales, por medio de:
        <ol>
          <li>
            Ofrecimiento y promoción, por cualquier medio, de servicios de Apprevenir, de compañías vinculadas o de cualquier persona o compañía.
          </li>
          <li>
            Envío de invitaciones para participar en proyectos, estudios y/o eventos organizados por Apprevenir, empresas vinculadas y terceros, relacionados con los servicios prestados a través de la plataforma.
          </li>
          <li>
            Transmisión de datos a empresas vinculadas y terceros para la realización de actividades gremiales, médico-científicas y todas aquellas relacionadas con la salud.
          </li>
          <li>
            Suministro de información a empresas vinculadas y terceros acerca los casos de urgencia médica o sanitaria.
          </li>
          <li>
            Suministro de información y generación de alerta acerca de los casos de vulneración de derechos de la población adolescente y joven.
          </li>
        </ol>
        3. Lograr una adecuada prestación de los servicios ofrecidos por Apprevenir a través de:
        <ol>
          <li>
            Permitir el acceso a la información sobre peticiones, quejas y reclamos presentados por los usuarios, clientes, aliados, contratistas y proveedores con ocasión de actividades desarrolladas por Apprevenir.
          </li>
          <li>
            Usos contables, administrativos, comerciales, informativos, de mercadeo y ventas.
          </li>
          <li>
            La transmisión de datos personales a encargados para su almacenamiento en servidores ubicados dentro y/o fuera de Colombia.
          </li>
          <li>
            La ejecución de actividades relacionadas con el vínculo laboral con sus empleados.
          </li>
          <li>
            Cualquier otra finalidad que corresponda según el vínculo que se genere entre los titulares de los datos personales y la compañía.
          </li>
        </ol>
      
      <span class="modal-terms__title">V. TRATAMIENTO DE DATOS PERSONALES DE NIÑOS, NIÑAS Y ADOLECENTES</span><br><br>
      <p>
        En cumplimiento del artículo 7 de la ley 1581 de 2012 el tratamiento de los datos personales de los menores de edad se realizará, en el marco de las finalidades señaladas anteriormente y de acuerdo con los requisitos señalados en el artículo 2.2.2.25.2.9 del el Decreto 1074 de 2015 y la sentencia C-748 de 2011 de la Corte Constitucional.

        Para tal efecto, Apprevenir, sus empleados, funcionarios y encargados tendrán en cuenta que el tratamiento de los datos personales de menores de edad debe responder al interés superior de ellos y que debe asegurarse el respeto de sus derechos fundamentales como lo es la promoción, protección y recuperación de la salud los derechos sexuales y reproductivos.

        Cuando la autorización del tratamiento de los datos sea otorgada por intermedio de un representante, el representante garantizará el ejercicio del derecho del menor a ser escuchado previamente al otorgamiento de la autorización y valorará la opinión del menor teniendo en cuenta su madurez, autonomía y capacidad para entender el asunto.

        Los responsables y encargados del tratamiento de datos personales de menores de edad velarán por el uso adecuado de los datos y aplicarán los principios y obligaciones consagrados en la Ley 1581 de 2012 y el Decreto Único 1074 de 2015.
      </p>
      <span class="modal-terms__title">VI. DERECHOS DE LOS TITULARES</span><br><br>
      <p>
        Los Titulares de los datos personales tienen los siguientes derechos:
        <ol>
          <li>
            Conocer, acceder en forma gratuita, actualizar y rectificar sus datos personales frente al responsable o los encargados del tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado.
          </li>
          <li>
            Solicitar prueba de la autorización otorgada al responsable del tratamiento salvo cuando expresamente se exceptúe como requisito para el tratamiento, de conformidad con lo previsto en el artículo 10 de la Ley 1581 de 2012.
          </li>
          <li>
            Ser informado por el responsable o por el encargado del tratamiento, previa solicitud, respecto del uso que le ha sido dado a sus datos personales.
          </li>
          <li>
            Presentar ante las autoridades competentes quejas por infracciones a la Ley.
          </li>
          <li>
            Revocar la autorización y/o solicitar la supresión del dato cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el tratamiento el responsable o encargado han incurrido en conductas contrarias a la Constitución y la ley.
          </li>
        </ol>
        De acuerdo con el artículo 2.2.2.25.2.6 del Decreto Único 1074 de 2015, la solicitud de supresión de la información y la revocatoria de la autorización no procederán cuando el Titular tenga un deber legal o contractual de permanecer en la base de datos.
      <br><br>
      <span class="modal-terms__title">VII. PROCEDIMIENTO PARA EJERCICIO DE DERECHOS POR PARTE DE TITULARES</span><br><br>
      <p>
        Los Titulares de datos personales deben dirigir sus solicitudes o reclamos al correo electrónico contacto.apprevenir@amigo.edu.co . Para el efecto harán uso del Formato de Solicitudes y Reclamaciones sobre el Tratamiento de Datos Personales que se encuentra disponible para ser descargado en el portal web. <br>

        1. Procedimiento para solicitudes y consultas: Apprevenir, debe atender las solicitudes y consultas en un término de diez (10) días hábiles contados a partir de la fecha en que se reciba la solicitud. Cuando no fuere posible cumplir con este tiempo, se deberá informar al interesado expresando los motivos de la demora y la fecha en que se atenderá su solicitud o consulta en un término no mayor a cinco (5) días hábiles siguientes al vencimiento del primer término. <br>

        2. Procedimiento en caso de reclamos: El titular o causahabiente que considere que la información contenida en una base de datos debe ser objeto de corrección, actualización o supresión, o cuando advierta el presunto incumplimiento de cualquiera de los deberes contenidos en la ley o en la presente Política, podrá presentar un reclamo a Apprevenir S.A.S., el cual será tramitado bajo las siguientes reglas:
        <ol>
          <li>
            El reclamo se formulará mediante solicitud dirigida a la Oficina de Protección y Tratamiento de Datos Personales, al correo electrónico contacto.apprevenir@amigo.edu.co con la identificación del titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y acompañando los documentos que se quiera hacer valer. Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del mismo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.
          </li>
          <li>
            Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que diga "reclamo en trámite" y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.
          </li>
          <li>
            El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
          </li>
        </ol>
        3. Procedimiento para la revocatoria de la autorización y/o solicitud de supresión del dato: Los Titulares podrán en todo momento solicitar a Apprevenir, la supresión de sus datos personales y/o revocar la autorización otorgada para el Tratamiento de los mismos, mediante la presentación de un reclamo, de acuerdo con lo establecido en el artículo 15 de la Ley 1581 de 2012, el Decreto Único 1074 de 2015 y el Procedimiento indicado en esta Política.
        Si vencido el término legal respectivo, Apprevenir, no hubiere eliminado los datos personales, el Titular tendrá derecho a solicitar a la Superintendencia de Industria y Comercio que ordene la revocatoria de la autorización y/o la supresión de los datos personales.
        No obstante, lo anterior, de acuerdo con los artículos 2.2.2.25.2.6 y 2.2.2.25.2.8 del Decreto Único 1074 de 2015, la solicitud de supresión de la información y la revocatoria de la autorización no procederán cuando el Titular tenga un deber legal o contractual de permanecer en la base de datos.
      <br><br>
      <span class="modal-terms__title">VIII. LIMITACIONES TEMPORALES AL TRATAMIENTO DE LOS DATOS PERSONALES</span><br><br>
      <p>
        Apprevenir, solo podrán recolectar, almacenar, usar o circular los datos personales durante el tiempo que sea razonable y necesario, de acuerdo con las finalidades que justificaron el tratamiento, atendiendo a las disposiciones aplicables a la materia de que se trate y a los aspectos administrativos, contables, fiscales, jurídicos e históricos de la información.
        Una vez cumplida la o las finalidades del tratamiento Apprevenir, o el encargado del tratamiento, según corresponda, procederán a la supresión de los datos personales en su posesión. No obstante lo anterior, los datos personales deberán ser conservados cuando así se requiera para el cumplimiento de una obligación legal o contractual.
      <br><br>
      <span class="modal-terms__title">IX. AUTORIZACIÓN</span><br><br>
      <p>
        Apprevenir recibirá la autorización para el tratamiento de datos personales mediante documento escrito, a través de su sitio web y/o su aplicación móvil. Para ello el titular podrá dar su consentimiento de forma escrita, verbal o por conductas inequívocas.
        El contenido de la autorización es el siguiente:
        Apprevenir recolectará datos personales privados y sensibles del titular, tales como su nombre, fecha de nacimiento, género al que pertenece y demás datos que el propio titular desee suministrar. Respecto de los datos sensibles, el titular no está obligado a suministrarlos pero, si desea hacerlo, serán aquellos necesarios para dar cumplimiento a las finalidades del tratamiento señaladas en el presente documento como lo son aquellos relativos a la salud, a la vida sexual y/o demás datos sensibles relacionados que el titular quiera suministrar.
        El titular manifiesta haber leído el presente Manual de Políticas para la Protección y Tratamiento de Datos personales. En consecuencia reconoce haber sido informado acerca de las finalidades específicas del tratamiento y otorga su autorización expresa para el tratamiento de sus datos personales, incluida la autorización expresa de transferencia y transmisión internacional de sus datos personales, dentro de las finalidades comunicadas en el presente documento.
        Para los titulares quienes opten por dar la autorización a través del sitio web o la aplicación, su consentimiento expreso se dará en el momento en que creen su perfil de usuario y acepten el contrato de Términos y Condiciones y la Política de Privacidad. Este acto será considerado una conducta inequívoca suficiente para concluir de forma razonable que la autorización fue expresamente otorgada.
      <br><br>
      <span class="modal-terms__title">X. VIGENCIA DE LA POLÍTICA</span><br><br>
      <p>
        La presente política entra en vigencia a partir del 01 de enero de 2018.
      
    </div>
  </div>
  <div class="modal-terms__btn-acept" (click)="closeModal()">Aceptar</div>
</div>