<div class="modal-terms__content">
  <div class="modal-terms__title">
    <div *ngIf="terms">
      Términos y condiciones generales de uso
    </div>
    <div *ngIf="!terms">
      test
    </div>
  </div>
  <div class="modal-terms__text">
    <div *ngIf="terms">
      <span class="modal-terms__title">1. Objeto</span><br><br>
      <p>
        Apprevenir permite, conforme a las direcciones y vínculos visibles, a sus Usuarios el acceso y la utilización de diversos servicios y contenidos 
        (en adelante, los "Servicios") puestos a disposición por Apprevenir o por terceros, bajo las condiciones acá indicadas.
      </p>
      <p>
        Los presentes términos y condiciones tienen por objeto establecer y regular las condiciones de acceso y uso general al SITIO WEB, APP o al servicio prestado 
        por medio del canal SMS (Short Message Service o mensajes de texto), en adelante EL SITIO, así como a los distintos contenidos y servicios prestados 
        por Apprevenir o por terceros desde y/o a través del mismo. En este último caso, cuando los contenidos y servicios no estén hospedados en 
        EL SITIO Apprevenir no se hace responsable por los mismos.
      </p>
      <p>
        Tanto el acceso como la utilización general del SITIO WEB, APP o el canal SMS atribuyen la condición de usuario del mismo (en adelante, el "USUARIO"), implicando tal acceso otorgado al usuario necesariamente la aceptación plena y 
        sin reservas de todas y cada una de las disposiciones y condiciones incluidas en los términos y condiciones generales de acceso y uso del mismo.
      </p>
      <p>
        El Usuario queda expresamente enterado y acepta que estas condiciones podrán experimentar variaciones en el futuro a libre criterio de Apprevenir y 
        sin obligación alguna de aviso previo por su parte que igualmente serán visibles en EL SITIO. Como efecto de lo anterior, será de la sola y exclusiva 
        responsabilidad del Usuario verificar los términos y condiciones vigentes en cada una de las ocasiones en que acceda al SITIO o de cualquier manera haga 
        utilización al SITIO WEB, APP o usando el canal SMS. La utilización de servicios ofrecidos a los Usuarios a través del SITIO WEB, APP o el canal SMS- en 
        particular el acceso y uso del ENTORNO TRANSACCIONAL o TIENDA ON-LINE que hace parte del SITIO WEB - podrá ser objeto de condiciones y configuraciones 
        de utilización y acceso particulares (en adelante, las "Condiciones Particulares") que, según los casos, podrán sustituir, completar y/o modificar los 
        presentes términos y condiciones generales.
      </p>
      <p>
        II. REGISTRO Y ACCESO. Con carácter general el acceso general al SITIO WEB es libre y no exige el previo registro de Usuario. No obstante, Apprevenir podrá condicionar el acceso a determinadas y específicas áreas y la utilización de ciertos Servicios al 
        previo y completo diligenciamiento del correspondiente formulario de registro de Usuario, datos diligenciados por el usuario que Apprevenir administrará 
        para su propósito y para propósito de los aliados comerciales de Apprevenir, quienes son autorizados por el usuario a través del diligenciamiento completo 
        de su registro, conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en Colombia (Ley 1581 de 2012 y normas que la reglamenten).
      </p>
      <p>
        Asimismo, Apprevenir podrá poner a disposición de los Usuarios ciertos y determinados Servicios para cuya utilización y acceso del Usuario pudiera 
        requerir el diligenciamiento de formulario de registro adicionales y/o satisfacción de determinadas contraprestaciones dinerarias que se 
        tramitarán por el Usuario bajo condiciones transaccionales seguras dispuestas por EL SITIO WEB, APP o el canal SMS. En su caso, dicho registro 
        se efectuará en la forma expresamente indicada en el formulario y anexos permitidos con el acceso al propio servicio y/o en las condiciones 
        particulares que lo regulen visibles en el vínculo dispuesto por el mismo sitio, datos diligenciados que Apprevenir administrará para su 
        objeto y para objeto de los aliados comerciales de Apprevenir , conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en 
        Colombia (Ley 1581 de 2012 y normas que la reglamenten). El Usuario garantiza, al momento del registro, la veracidad del conjunto de los datos 
        diligenciados en los formularios en el SITIO a los cuales accede Apprevenir, información y datos de los cuales es el Usuario responsable de 
        mantenerlos completamente actualizados. En todo caso, el Usuario será el único responsable de las manifestaciones falsas o inexactas que realice con 
        el diligenciamiento de formularios en el Sitio y de los perjuicios que cause a Apprevenir y/o a terceros por la información falsa y/o inexacta que 
        incorpore en los formularios con el registro. Apprevenir se reserva el derecho de negar el ingreso, acceso y/o registro en el SITIO WEB, APP o el canal SMS 
        en cualquier momento y sin que deba mediar aviso, notificación, justificación y/o explicación alguna. Esta negativa no comportará derecho a indemnización 
        alguna. Los datos ingresados por el usuario al momento de su registro podrán ser utilizados y compartidos por Apprevenir con sus aliados comerciales; 
        igualmente, Apprevenir podrá a partir del registro del usuario y por el solo acto de registro, enviar información propia del Sitio y de sus aliados 
        comerciales a los correos de los usuarios, siempre conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en Colombia 
        (Ley 1581 de 2012 y normas que la reglamenten). El sitio de Apprevenir y los sitios de su aliados son medios de acceso y/o transferencia de información de 
        interés de los usuarios quienes libremente y bajo su propia responsabilidad acceden y/o se registran conforme a los parámetros y condiciones del sitio, 
        razón por la cual la responsabilidad sobre los contenidos y alcances de las respuestas, información, datos y en general sobre los efectos de las redacciones 
        proveídas por los profesionales de la medicina transmitidas por el sitio de Apprevenir, es responsabilidad única y exclusiva de tales profesionales de la 
        salud que escriben tales respuestas, quienes igualmente obran por su propia cuenta y riesgo Una vez se complete satisfactoriamente el proceso de registro 
        por parte del Usuario, Apprevenir podrá incorporar al Usuario en su base de datos de Usuarios registrados, pudiendo utilizar dicha base de datos para el 
        desarrollo de su objeto y para el desarrollo del objeto de sus aliados conforme a lo dispuesto en las normas vigentes en materia de HABEAS DATA en Colombia 
        (Ley 1581 de 2012 y normas que la reglamenten). Una cuenta será generada con su dirección de correo electrónico y “palabra clave de acceso” asociada para 
        cada Usuario.
      </p>
    </div>
    <div *ngIf="!terms">
      no term
    </div>
  </div>
  <div class="modal-terms__btn-acept" (click)="closeModal()">Aceptar</div>
</div>