<ion-content>
  <div class="test__head">
    <img class="img-bg" src="../../../assets/images/apprevenir-test.png" alt="test image">
    <div class="test__bg"></div>
    <div class="test__title">test</div>
    <div class="test__test-title">{{ infoTest.name }}</div>
    <div class="test__icons">
      <a class="login-form__forgot-link" [routerLink]="['/home']"><img src="../../../../assets/icon/close-icon.svg" class="test__close" alt="close"></a>
      <img src="../../../../assets/icon/help-icon.svg" class="test__help" alt="help" (click)="openModal(infoTest)">
    </div>
  </div>
  <div class="content">
    <div class="template-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>
