<form class="test-form" [formGroup]="formGroup">
  <mat-horizontal-stepper linear #stepper formArrayName="formArray">
      <mat-step formGroupName="{{i}}" [stepControl]="formArray?.get([i])" *ngFor="let question of questions; let i = index">
        <div class="test-form__label">
          <div class="test-form__order">
            {{ question.order }}
          </div>
          <div class="test-form__question">
            {{ question.question }}
          </div>
        </div>
        <div class="test-form__input">
          <div *ngIf="test['name'] == 'Drogas'">
            <div *ngIf="question.order == 1">
              <div *ngFor="let addiction of test.addictions; let in = index">
                <mat-checkbox class="example-margin" disableRipple="true" formControlName="addiction" required value="{{ in }}" 
                (change)="selectAddiction($event)"
                >
                  <label class="test__label" >{{ order[in] }}</label>
                 <div class="check-div">{{ addiction.description }}</div> 
                </mat-checkbox>
              </div>
            </div>
            
            <div *ngIf="question.order != 1">
              <div *ngFor="let addictionSelect of addictionArray; let inx = index">
                <div  class="test-form__addiction">
                  <label class="test__label">{{ order[addictionSelect.order] }}</label>
                  <div class="test-form__option-answer">{{ addictionSelect.desc }}</div>
                </div>
                
                <mat-form-field class="example-full-width">
                  <mat-label>Elige una opción</mat-label>
                  <mat-select formControlName="answer_{{addictionSelect.id}}_{{question.id}}" required >
                    <mat-option [value]="answer.id"  *ngFor="let answer of question.answers; let in = index" >
                      {{ answer.answer }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        
          <mat-radio-group formControlName="answer_{{question.id}}" required class="test__radio-flex" 
            *ngIf="test['name'] != 'Drogas'">
            <mat-radio-button value="{{ answer.id }}" *ngFor="let answer of question.answers; let in = index">
              <label class="test__label">{{ order[in] }}</label>
              <div class="test-form__option-answer">{{ answer.answer }}</div>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="test-form__content-btns">
          <a *ngIf="i == 0" [routerLink]="['/home']"><button class="test-form__btn back" mat-button>Atras</button></a>
          <button *ngIf="i != 0" class="test-form__btn back" mat-button matStepperPrevious>Atras</button>
          <button *ngIf="i != questions.length - 1" class="test-form__btn next" mat-button matStepperNext> Siguiente</button>
          <button *ngIf="i == questions.length - 1" class="test-form__btn next" mat-button matStepperNext (click)="onSubmit()">Enviar</button>
        </div>
      </mat-step>
  </mat-horizontal-stepper>
</form>

