.test-form {

    margin-bottom: 0px;

    &__title, &__label, &__label-small {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &__label {
        font-size: 18px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &__label-small {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__order {
        font-size: 36px;
        margin-right: 12px;
        color: #4A657080;
    }

    &__input{
        margin-bottom: 28px;
        position: relative;
    }

    &__input input, &__input select {
        width: 100%;
        height: 50px;
        padding-left: 16px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #4A657080;
        border-radius: 8px;
        opacity: 1;
    }

    &__input input[type=date] {
        padding-right: 18px;
    }

    &__btn {
        height: 44px;  
        min-width: 125px;
    }

    &__content-btns {
        display: flex;
        justify-content: space-around;
    }

    &__btn.next {
        background:var(--color-primary) 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px var(--color-primary-light);
        border-radius: 22px;
        color: var(--color-white);
        font-family: 'KanitMedium';
    }

    &__btn.back {
        border: 1px solid var(--color-grey-dark-1);
        border-radius: 22px;
        opacity: 1;
        background-color: var(--color-white);
        color:var(--color-grey-medium-2);
        margin-right: 25px;
        font-family: 'KanitMedium';
    }

    &__options {
        display: flex;
        align-items: center;
    }

    &__option-letter {
        color:var(--color-primary);
        font-size: 24px;
        margin-right: 12px;
        margin-left: 12px;
        font-weight: 600;
    }

    &__option-answer {
        padding-top: 5px;
        font-family: 'FiratLight';
    }

    &__question {
        font-family: 'KanitMedium';
    }

    &__addiction {
        display: flex;
    }
} 

.test__label {
    font-weight: 900;
    font-size: 24px;
    margin-right: 12px;
    margin-left: 15px;
    color:var(--color-primary);
}

mat-radio-group {

    display: flex;
    flex-direction: column;

    mat-radio-button {
        margin-bottom: 10px;
        margin-left: 10px;
    }
}